//- Created by jgluhov on 08/02/16.
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title HostKeyApp
	body
		.bg-image
		nav
			ul.nav.nav-pills
				li: a(href="#") UM
				li: a(href="#") Author
				li: a(href="#") Album
				li: a(href="#") Technology
		.container
			h1 Hello World
		footer
			| &copy; 2003-2008 UlinMusic
