bg-color = #08141E
bg-image-width = 657px
bg-image-height = 408px
text-color = #ffffff

footer-height = 120px
footer-text-color = #5a6167
footer-padding = 0 60px
footer-padding-media = 0 15px

header-padding = 0 60px
header-margin = 80px 0 60px 0
header-margin-media = 15px 0 15px 0
header-padding-media = 0 15px

nav-text-color = #B1BBCB
nav-text-hover-color = #d6e3f3

article-max-width = 760px
article-heading-font-size = 40px
article-heading-font-size-media = 30px

html
  position relative
  min-height 100%

body
  background-color bg-color
  color text-color
  margin-bottom footer-height
  -webkit-font-smoothing antialiased

main
  position relative

article
  > h1
      font-size article-heading-font-size
      font-weight 600
  > p
      max-width article-max-width
      font-weight 500

header
  margin header-margin
  padding header-padding
  margin-bottom 60px
  .nav li
    a
      color nav-text-color
      font-weight 600
      &:focus, &:hover
        background-color transparent
        color nav-text-hover-color
        text-shadow 2px 2px 7px rgba(150, 150, 150, 1)

.bg-image
  z-index 0
  position absolute
  right 0
  background-image url(../images/simple.png)
  background-repeat no-repeat
  background-size contain
  width 100%
  max-width bg-image-width
  height bg-image-height

footer
  position absolute
  padding footer-padding
  bottom 0
  width 100%
  height footer-height
  line-height footer-height
  color footer-text-color
  font-weight 600

+media-query( all, max-width 860px )
  header
    margin header-margin-media
    padding header-padding-media

  article
    > h1
      font-size article-heading-font-size-media

  footer
    padding footer-padding-media